<div class="main-container">
    <div class="card d-flex flex-column align-items-center mt-2 p-5">
        <h2>{{memberData.name}}'s Profile</h2>
        <table class="table table-striped">
            <thead>
                <th>Instrument</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let instrument of memberData.instruments; let i = index">
                    <td>{{instrument}}</td>
                    <button (click)="deleteInstrument(i)" class="btn btn-danger">Delete</button>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-warning mb-2" (click)="show=true">Add Instrument</button>
        <select *ngIf="show" name="newInstrument" id="newInstrument" [(ngModel)]="new">
            <option *ngFor="let instrument of allInstruments" [value]="instrument.instrument">{{instrument.instrument}}</option>
        </select>
        <button *ngIf="new && show" class="btn btn-success mt-2" (click)="addInstrument()">Confirm</button>
    </div>
    <div class="d-flex flex-column align-items-center">
        <button class="btn btn-danger mt-4" data-toggle="modal" data-target="#deleteModal">Delete {{memberData.name}}'s Profile</button>
    </div>
    
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Remove Profile</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            Deleting will permanently remove your member, consider marking as inactive instead
            </div>
            <div class="modal-footer d-flex flex-column gap-8">
                <div class="gap-8 d-flex">
                    <button type="button" (click)="deleteMember()" class="btn btn-danger" data-dismiss="modal">Permanently Delete</button>
                    <button type="button" (click)="inactive()" class="btn btn-warning" data-dismiss="modal">Mark as inactive</button>
                </div>
                <div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>