<div class="main-container d-flex flex-column align-items-center">
    <div class="banner">
        <h1>Sol Samba Admin Portal</h1>
    </div>   
    <div class="card-container">
        <div class="card" routerLink="/members">
          <h2>View Members</h2>
        </div>
    
        <div class="card" routerLink="/view">
          <h2>View Gigs</h2>
        </div>
    
        <div class="card" routerLink="/org">
          <h2>Add Gigs</h2>
        </div>

        <div class="card" routerLink="/add-member">
            <h2>Add Members</h2>
        </div>

        <div class="card" routerLink="/add-insrument">
            <h2>Add Instruments</h2>
        </div>
  
    
    </div>
</div>
